<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add Book</h1>
<!--      bookForm-->

<form action="#"
      th:action="@{/books}"
      th:object="${bookForm}"
      method="post">
    <label for="title">cover</label>

    <input value="${cover}" type="text" th:field="*{cover}" id="cover" placeholder="cover">
    <input value="${title}" type="text" th:field="*{title}" id="title" placeholder="title">
    <input value="${author}" type="text" th:field="*{author}" id="author" placeholder="author">
    <input value="${rating}" type="text" th:field="*{rating}" id="rating" placeholder="rating">

    <select th:field="*{status}" id="status" class="form-select" >
        <option value="" selected>select status</option>
        <option value="1">Read</option>
        <option value="2">Currently reading</option>
        <option value="3">To read</option>
    </select>

    <input  value="${comment}" type="text" th:field="*{comment}" id="comment" placeholder="comment">



    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    <input type="submit" value="Add Book">
</form>
</body>
</html>


